.payment-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

.payment-page h2 {
  margin-bottom: 20px;
}

.payment-page p {
  margin-bottom: 20px;
}

.pay-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

.pay-button:hover {
  background-color: #218838;
}

.cancel-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: #fff;
  font-size: 16px;
}

.cancel-button:hover {
  background-color: #c82333;
}

.success-tick:hover {
  transform: scale(1.2);
  cursor: pointer;
}
